.add-option-error{
    color: $off-white;
    font-style: italic;
    margin: $sfont-rem 0 0 0 ;
    padding: 0 $sfont-rem ;
}

.add-option{
    display: flex;
    padding:$sfont-rem;
    flex-direction: column;
}

.add-option__input{
    background: $dark-blue;
    border-bottom: .3rem solid lighten($color: $dark-blue, $amount: 10%);
    flex-grow: 1;
    margin:0 0 $vsfont-rem 0;
   // margin-right: $vsfont-rem;
    color: $off-white;
    padding:$vsfont-rem;
}

@media(min-width: $desktop-breakpoint){
.add-option{
    flex-direction: row;
}
.add-option__input{
    margin: 0 $vsfont-rem 0 0;
}
}