.big-button{
background: $dark-purple;
border: none;
border-bottom: .6rem solid darken($color: $dark-purple, $amount: 10%);
color: white;
font-weight: bold;
font-size: $mfont-rem;
margin-bottom: $sfont-rem;
padding: 2.4rem;
width: 100%;

}

.big-button:disabled{
opacity: .5;
}

.button{
    background: $dark-purple;
    border: none;
    border-bottom: .3rem solid darken($color:$dark-purple, $amount: 10%);
    color: white;
    font-weight: 500;
    padding: $vsfont-rem;
}

.button--link{
    background: none;
    border: none;
    color: $off-white;
    padding:0;
}

@media(min-width: $desktop-breakpoint){
    .big-button{
        margin:  $lfont-rem;
    }
}