.header{
 
    background: $off-black;
    margin-bottom:$sfont-rem;
    color: white;
    padding: $sfont-rem 0;
}
    //Block element identifier
    .header__title{
        font-size: $mfont-rem;
        margin: 0;
    }

    .header__subtitle{
        color:$off-white;
        font-size: $sfont-rem;
        font-weight: 500;
        margin: 0;
    }

    @media(min-width: $desktop-breakpoint){
        .header{
            margin-bottom: $lfont-rem;
        }
    }