.ReactModalPortal>div{
    opacity: 0;

}

.ReactModalPortal .ReactModal__Overlay{
   align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal{
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding:$mfont-rem;
    text-align: center;
}
.modal__title{
margin: 0 0 $sfont-rem 0;
}
.modal__body{
    margin: 0 0 $mfont-rem 0;  
    font-size: 2rem;
    font-weight: 200;
    word-break: break-all;
}