.option{
display: flex;
border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
justify-content: space-between;
padding: $sfont-rem $mfont-rem;
}

.option__text{
    color: hotpink;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
}