
.widget{
    background: $light-blue;
    margin-bottom: $lfont-rem;
}

.widget__message{
    color: $off-white;
    margin: 0;
    padding: $lfont-rem;
    text-align: center;
    border-bottom: 1px solid lighten($color:$light-blue, $amount: 10%);
}

.widget-header{
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding:$mfont-rem;
}


.widget-header__title{
    margin:0;
}

