html{
    font-size: 62.5%;
}

body{
    background: $dark-blue;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: $sfont-rem;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}