//colors

$off-black:#20222b;
$off-white: #a5afd7;
$dark-blue:#333745;
$blue:#3c4251;
$light-blue:#464b5e;
$dark-purple:#8357c5;

$vsfont-rem: 1.2rem;
$sfont-rem: 1.6rem;
$mfont-rem: 3.2rem;
$lfont-rem: 4.8rem;
$desktop-breakpoint:45rem;
